{{ title.dashboard }}

<div class="container-fluid">
    {{.if blog.length}}
        {{#each blog as |blogs|}}
            {{> blogInfo blog}}
        {{/each}}
    {{/if}}
</div>

<a class="btn btn-primary position-absolute" href="#" role="button">+ New Post</a>

<script src=""></script>